[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ctablerseh"]
	path = ctablerseh
	url = https://github.com/cran/ctablerseh
[submodule "hatsurvey"]
	path = hatsurvey
	url = https://github.com/cran/hatsurvey
[submodule "mgwrhw"]
	path = mgwrhw
	url = https://github.com/cran/mgwrhw
